<ul class="list-unstyled">
  <li>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="markup.PriceTypeAdult"> Adult
      </label>
    </div>
  </li>
  <li>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="markup.PriceTypeYouth"> Youth
      </label>
    </div>
  </li>
  <li>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="markup.PriceTypeChild"> Child
      </label>
    </div>
  </li>
  <li>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="markup.PriceTypeInfant"> Infant
      </label>
    </div>
  </li>
  <li>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="markup.PriceTypeStudent"> Student
      </label>
    </div>
  </li>
</ul>
